<a href="https://colab.research.google.com/github/khushboosharma94/khushboo/blob/main/Problem_statement_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python 8

Challenge 2: Implement a Calculator Class

In [1]:
class student:

  def __init__(self, name, rollnumber):
    self.name = name
    self.rollnumber = rollnumber

  def set_name(self, name):
    self.name = name

  def get_name(self):
    return self.name

  def set_rollnumber(self, rollnumber):
    self.rollnumber = rollnumber

  def get_rollnumber(self):
    return self.rollnumber


school1=student('khush',101)
school1.set_name ('kk')
school2=student('khushboo',110)
school2.set_rollnumber(14)
print(school1.get_name())
print(school2.get_name())
print(school1.get_rollnumber())
print(school2.get_rollnumber())

kk
khushboo
101
14